body {
    background-color: #fdf3ff;
}

div {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.colour-block { 
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.shape-block {
    background: white;
    display: inline-block;
    margin: 10px;
    background: none !important;
    background-color: transparent !important;
}

.size-block {
    background: gray;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

    .size-sss {
    width: 40px;
    height: 40px;
  }
  
  .size-ss {
    width: 60px;
    height: 60px;
  }
  
  .size-s {
    width: 80px;
    height: 80px;
  }
  
  .size-m {
    width: 120px;
    height: 120px;
  }
  
  .size-l {
    width: 160px;
    height: 160px;
  }
  
  .size-xl {
    width: 200px;
    height: 200px;
  }
  
  .size-xxl {
    width: 240px;
    height: 240px;
  }
  
  .size-xxxl {
    width: 280px;
    height: 280px;
  }
  
  .size-xxxxl {
    width: 320px;
    height: 320px;
  }
  
  .colour-red-saturated { background-color: #ff475c; }

  .colour-red-light { background-color: #ffa0a3; }
  
  .colour-red-muted { background-color: #ff8a8f; }
  
  .colour-red-dark { background-color: #ff5d71; }
  
  .colour-orange-saturated { background-color: #ff9534; }
  
  .colour-orange-light { background-color: #ffbf9d; }
  
  .colour-orange-muted { background-color: #ffb389; }
  
  .colour-orange-dark { background-color: #ff985d; }
  
  .colour-yellow-saturated { background-color: #ffd733; }
  
  .colour-yellow-light { background-color: #ffe293; }
  
  .colour-yellow-muted { background-color: #ffdc7f; }
  
  .colour-yellow-dark { background-color: #ffd255; }
  
  .colour-chartreuse-saturated { background-color: #e0ff4c; }
  
  .colour-chartreuse-light { background-color: #f2ffa9; }
  
  .colour-chartreuse-muted { background-color: #ebff9a; }
  
  .colour-chartreuse-dark { background-color: #deff77; }
  
  .colour-green-saturated { background-color: #00ffab; }
  
  .colour-green-light { background-color: #aeffd3; }
  
  .colour-green-muted { background-color: #9affcc; }
  
  .colour-green-dark { background-color: #54ffbc; }
  
  .colour-cyan-saturated { background-color: #00fffa; }
  
  .colour-cyan-light { background-color: #b0fffd; }
  
  .colour-cyan-muted { background-color: #95feff; }
  
  .colour-cyan-dark { background-color: #59fbff; }
  
  .colour-blue-saturated { background-color: #2eb8ff; }
  
  .colour-blue-light { background-color: #a7d4ff; }
  
  .colour-blue-muted { background-color: #91ccff; }
  
  .colour-blue-dark { background-color: #5bbaff; }
  
  .colour-purple-saturated { background-color: #ce5bff; }
  
  .colour-purple-light { background-color: #deb0ff; }
  
  .colour-purple-muted { background-color: #db9eff; }
  
  .colour-purple-dark { background-color: #d576ff; }
  
  .colour-black { background-color: #98939b; }
  
  .colour-gray-dark { background-color: #faf2ff; }
  
  .colour-gray-medium { background-color: #faf2ff; }
  
  .colour-gray-light { background-color: #faf2ff; }
  
  .colour-white { background-color: #faf2ff; }